/* style.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
	display: none;
}

#drawText {
    position: fixed;
    top: 45%;
    left: 55%; /* Adjusted to the right */
    transform: translate(-50%, -50%) scale(0.2); /* Start scaled down */
    display: flex;
    align-items: center;
    animation: zoomIn 0.5s forwards;
}

@keyframes zoomIn {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

#keyContainer {
    position: relative;
}

#outerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38px; /* Adjust as needed */
    height: 38px; /* Adjust as needed */
    border: 2px solid #fff;
    animation: breathe 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyBox {
    width: 28px; /* Adjust as needed */
    height: 28px; /* Adjust as needed */
    background-color: #005b95;
    margin: 5px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

#key {
    font-size: 24px;
    color: #fff;
}

#text {
    font-size: 18px;
    color: #ecf0f1;
    opacity: 0;
    animation: fadeInRight 0.5s 0.5s forwards;
    position: relative;
    left: 10px; /* Adjust as needed */

}


@keyframes breathe {
    0%, 100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-10px); /* Adjust the distance as needed */
    }
}

@keyframes zoomOut {
    to {
        transform: scale(0);
    }
}

#text {
    font-size: 18px;
    color: #ecf0f1;
    opacity: 0;
}
